@import "tailwindcss";

@theme {
    --color-primary: #20df6c;
    --color-background-light: #f6f8f7;
    --color-background-dark: #112117;
    --color-surface-dark: #1C2E24;

    --font-display: "Public Sans", sans-serif;
}

/* Rest of the file... */